.contactUsBg {
    background-image: url(/_next/static/media/bg-contact.afe0f20d.jpg);
    background-size: 132%;
    background-position: center;
    background-attachment: fixed;
}

.formContactUs {
    color: #fff
}

@media only screen and (max-width: 768px) {
    .contactUsBg {
        background-size: cover;
    }
}