.featuredImgWrapper {
    text-align: center;
    position: relative;
}

.featuredImgThumbnail {
    position: absolute;
    left: 255px;
    top: 31px;
}

@media only screen and (max-width: 768px) {
    .bannerContent {
        width: 100%;
        left: 0;
    }
    .featuredImgWrapper > img {
        width: 100%;
    }

    .featuredImgWrapper .featuredImgThumbnail {
        width: 78.5%;
        left: 37px;
        top: 11px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .featuredImgWrapper .featuredImgThumbnail {
        left: 105px;
    }
    .play-btn {
        right: 7%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .featuredImgWrapper .featuredImgThumbnail {
        width: 70%;
        left: 164px;
        top: 31px;
    }
    .play-btn {
        right: 7.8%;
    }
}