html,
body {
  padding: 0;
  margin: 0;
  font-family: 'muli', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 14px;
  color: #636366;
}

footer {
  padding: 25px;
}

footer p {
  margin: 0;
  font-size: 15px;
}

.heading {
  font-size: 33px;
  font-weight: 900;
  color: #636366;
}

.heading.white {
  color: #fff;
}

.heading::after {
  content: "";
  width: 50px;
  display: inline-block;
  height: 1px;
  background-color: #b7b7b7;
  vertical-align: middle;
  margin-left: 15px;
}

.heading.white::after {
  background-color: #fff;
}

.bg-light-grey {
  background-color: #f5f5f7;
}

.bg-dark-grey {
  background-color: #757582;
}

.thumbnail {
  position: relative;
}

.thumbnail-img {
  border: 5px solid #e1e1e1;
  box-shadow: 0px 7px 7px 0px rgb(193 187 187 / 72%);
  width: 100%;
}

.thumbnail-img.black {
  border-color: #000;
  box-shadow: 0px 12px 16px 0px rgb(0 0 0 / 44%);
}

.time-stamp {
  font-size: 13px;
  margin-bottom: 5px;
}

.time-stamp.white {
  color: #bcbcc1;
}

.play-btn {
  position: absolute;
  display: flex;
  align-items: end;
  top: 10%;
  right: 5px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  background-color: #ff4646;
  padding: 5px 10px;
  min-width: 115px;
  box-shadow: -2px 2px 6px rgb(0 0 0 / 23%);
}

.play-btn:hover {
  color: #fff;
}

.title {
  font-size: 22px;
}

.title.white {
  color: #fff;
}

.title.book {
  font-size: 18px;
}

.watch-btn {
  color: #1e91fc;
}

.bg-dark-grey .watch-btn {
  color: #5aadfb;
}

.chevron {
  font-size: 30px;
  line-height: 14px;
  vertical-align: text-top;
}

.carousel-control-prev, 
.carousel-control-next {
  z-index: 2;
}

.slick-arrows {
  position: absolute;
  right: 25px;
  top: 50px;
}

.read-btn {
  border-radius: 0;
  font-size: 14px;
  padding: 4px 15px 2px 15px;
}

.read-btn .chevron {
  font-size: 26px;
}

.btn-hollow-dark {
  position: relative;
  font-size: 14px;
  border-radius: 0;
  padding: 10px 30px;
  border-color: #e2e0e0;
}

.btn-hollow-light.active,
.btn-hollow-dark.active,
.btn-hollow-light:hover,
.btn-hollow-dark:hover,
.btn-hollow-light:focus,
.btn-hollow-dark:focus,
.btn-hollow-light:visited,
.btn-hollow-dark:visited {
  background-color: #0d6efd;
}

.btn-hollow-dark::before {
  content: "";
  position: absolute;
  left: -31px;
  top: calc(50% - 1px);
  width: 30px;
  height: 1px;
  background-color: #e2e0e0;
}

.btn-hollow-dark::after {
  content: "";
  position: absolute;
  right: -31px;
  top: calc(50% - 1px);
  width: 30px;
  height: 1px;
  background-color: #e2e0e0;
}

.btn-hollow-light {
  position: relative;
  font-size: 14px;
  border-radius: 0;
  padding: 10px 30px;
  color: #fff;
  border-color: #fff;
}
.btn-hollow-light::before {
  content: "";
  position: absolute;
  left: -31px;
  top: calc(50% - 1px);
  width: 30px;
  height: 1px;
  background-color: #fff;
}

.btn-hollow-light::after {
  content: "";
  position: absolute;
  right: -31px;
  top: calc(50% - 1px);
  width: 30px;
  height: 1px;
  background-color: #fff;
}

.book-content p {
  font-weight: 900;
}

.input-default {
  border-radius: 0;
  background-color: rgb(255 255 255 / 8%);
}

.input-default:focus {
  background-color: rgb(255 255 255 / 8%);
}

.input-default.white {
  color:#fff;
}

.slick-slide img {
  display: initial;
}

/*Navbar Css*/

.navbar-sticky .nav-link {
  padding: 25px !important;
}

.navbar-sticky .nav-link:last-child {
  padding-right: 0 !important;
}

.sticky-top .navbar-sticky {
  position: relative;
  top: -1px;
}

.sticky-top .navbar-sticky .brand-img {
  width: 60%;
}

.sticky-top .navbar-sticky .nav-link {
  padding: 0 25px !important;
}

.sticky-top .navbar-sticky .nav-link:last-child {
  padding-right: 0 !important;
}

textarea {
  resize: none;
}

.btn-default {
  border-radius: 0;
  padding: 0.5rem 2rem;
  font-size: 18px;
}

.wrapper-section {
  padding: 50px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 7px 20px 0px rgb(193 187 187 / 72%);
}

article {
  box-shadow: 0px 7px 20px 0px rgb(193 187 187 / 72%);
}

article img {
  width: 100%;
}

article a {
  display: block;
  font-size: 18px;
  color: #026ee7;
  font-weight: 600;
  padding: 2rem;
  min-height: 118px;
}

.wrapper-grey-bg {
  background-color: #f5f5f7;
}

.sub-heading {
  font-weight: 600;
  color: #636363;
}

@media only screen and (max-width: 768px) {
  .sticky-top .navbar-sticky .nav-link {
    padding: 10px 25px !important;
  }

  .slick-arrows {
    position: absolute;
    right: 25px;
    top: 100px;
  }  
}

/*Navbar Css*/

/*TopNav User Dropdown Css*/

.user-dropdown a {
  text-decoration: none;
}

.user-dropdown {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.user-dropdown li {
	color: #fff;
	display: block;
	float: left;
	padding: 1rem 0 1rem 0;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}
  
.user-dropdown a {
  text-decoration: none;    
  color: #d3d3d3;
}

.user-dropdown li:hover {
	cursor: pointer;
}

.user-dropdown li a:hover {
  color: #fff;
}

.user-dropdown li ul {
  background-color: #2a2b3f;
  visibility: hidden;
  opacity: 0;
  font-size: 12px;
  padding: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  box-shadow: 0 6px 12px rgb(0 0 0 / 70%);
}

.user-dropdown li:hover > ul, 
.user-dropdown li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 3;
    top: 42px;
    right: 0;
    left: auto;
}

.user-dropdown li ul li {
  clear: both;
  padding: 1rem;
  width: 100%;
}

.bg-light {
  background-color: #fff !important;
  box-shadow: 0px 2px 19px 0px #cbc9c9;
}

.top-nav .navbar-nav .nav-link.active, 
.top-nav .navbar-nav .show>.nav-link {
  color: #d3d3d3;
}

.top-nav-admin {
  background-color: #f7f7f7 !important;
}


.top-nav-admin .navbar-brand {
  font-weight: 600;
  color: #3b3c43;
}

.top-nav-admin .user-dropdown a,
.top-nav-admin .user-dropdown a:hover,
.top-nav-admin .nav-link,
.top-nav-admin .nav-link:hover,
.top-nav-admin .navbar-nav .nav-link.active, 
.top-nav-admin .navbar-nav .show>.nav-link {
  color: #757b7f;
}

.top-nav-admin .user-dropdown li ul {
  background-color: #f7f7f7;
  box-shadow: 0 6px 12px rgb(0 0 0 / 17%);
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%230497fe' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  color: #636363;
}

/* Popups */

.modal-content {
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  border: none;
}

.modal-backdrop {
  background-color: #fff;
  opacity: 0.93 !important;
}

.user-form-wrapper {
  text-align: center;
}

.user-form-wrapper a {
  color: #1e91fc;
}

.user-form-wrapper .heading::after {
  display: none;
}

/*Dashboard Generic Css*/

.wrapper {
  background-color: #f7f7f7;
  padding: 1rem 1rem 1rem 7rem;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%230397fe" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.form-control {
  color: #636363;
}

.badge {
  padding: 10px 10px 8px 10px;
  background-color: #d0dbe4 !important;
}

.active .badge {
  background-color: #0397fe !important;
}

.nav.nav-tabs {
  border: none;
  margin: 0 !important;
}

.nav-tabs .nav-link {
  font-weight: 600;
  position: relative;
  top: 10px;
  background-color: #fff;
  color: #636363;
}

.nav-tabs .nav-link:focus-visible {
  outline: none;
}

.nav-tabs .nav-link.active {
  padding: 20px 20px 10px 20px;
  top: -2px;
  border: none;
}

.nav-tabs .nav-item {
  margin: 0 5px;
}

.nav-tabs .nav-item:first-child {
  margin-left: 0;
}

.tab-content .wrapper-section {
  border-top-left-radius: 0;
  padding: 10px 0px;
}

.text-primary {
  color: #0397fe !important;
}